# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mindlog_db"

# JWT
JWT_SECRET="troque-por-um-segredo-forte-de-pelo-menos-32-caracteres"
JWT_EXPIRES_IN="7d"

# Server
PORT=3333
NODE_ENV=development

# CORS — URL do frontend (Vite dev server)
FRONTEND_URL="http://localhost:5173"
